* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Sección Quienes Somos */
#aboutme hr,
#destacados hr {
 background-color: #2da2ac;
 height: 1px;
}

#aboutme i {
background-color: #2da2ac;
}

/* Sección Destacados */

