* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}
/* Barra de Navegación */
nav {
    background-color: #2da2ac;
}

/* Estilo de las Fuentes para los titulos */

#aboutme h2,
#destacados h2,
#contacto h2 {
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 30px;
    
}

/* Estilos de las tarjetas */
.card-body {
    background-color: #2da2ac;
    color: white;
}

/* Estilo de las Lineas debajo de cada titulo */
#aboutme hr,
#destacados hr,
#contacto hr {
 background-color: #2da2ac;
 height: 1px;
}

/* Estilo de los favicon de fontawesome */
#aboutme i {
background-color: #2da2ac;
}

/* Seccion footer */
#footer {
    background-color: #2da2ac;
}

