* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.navbar {
    background-color: #2da2ac;
}

/* Sección Quienes Somos */
#aboutme hr,
#destacados hr,
#contacto hr {
 background-color: #2da2ac;
 height: 1px;
}

#aboutme i {
background-color: #2da2ac;
}

/* Sección Destacados */


/* Seccion footer */
#footer {
    background-color: #2da2ac;
}

